#container {
   margin: auto;
   margin-top: 20%;
   margin-bottom: 20%;
   width: 600px;
   height: 600px; 
   background-color: beige;  
}

#backGrid{
    margin-left: 50px;
    width: 500px;
    height: 500px;
    background-color: black;
   
}
#gridMap{
    width: 160;
    width: ;
}

 